@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.dark p,
.dark div,
.dark sapn {
  color: white;
}

/* Theme Switcer Toggle */
.toggle__dot {
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78; /* Tailwind's green-500 */
}

.toggle__line {
  transition: background 0.3s ease-in-out;
}

input:checked ~ .toggle__line {
  background-color: #68d391; /* Tailwind's green-300 */
}
